.home{
    color: whitesmoke;
    background-color: #141414;
    border: solid black;
    border-radius: 15px;
    padding-left: 8px;
    
}
.bg{
    background-color: #222;
    width: auto;
    height: 710px;
}